:root{
	--primary-color: #8E1DE0;
	--secondary-color: #07E061;
	--terciary-color: #580494;
	--dark-black: #123123;
}

*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	background-color: #E5E5E5;
}

a, button{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
} 

h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}


