/* Mobile version */

#interface{
	background-color: white;
	
	width: 90%;
	height: 100%;
	
	margin: auto;
	padding: 0 10px;
}

#main-menu{
	padding-bottom: 1em;
	margin-bottom: 20px;
	
	border-bottom: 1px solid #8E1DE0;
	
	display: flex;
	flex-direction: column;
}

#main-menu button{
	border: none;
}

#main-menu .navigation{
	color: white;
	background-color: var(--primary-color);
	
	padding: 3.2rem 1.2rem;
	margin: 5px 0;
	
	font-size: 1em;
	font-weight: 800;
	border-radius: 1.2rem;
	
	text-align: center;
}

#new-doc-form{
	display: flex;
	flex-direction: column;
	/* grid-template-columns: repeat(2, 1fr); */
}

#new-doc-form #description-fields{
	color: var(--terciary-color);
}

#new-doc-form #description-fields fieldset{
	display: flex;
	flex-direction: column;
}

#new-doc-form div{
	margin: 10px 0;
}

#new-doc-form fieldset{
	border: none;
}

#new-doc-form #description-fields .description{
	border: none;
	border-bottom: 1px solid var(--primary-color);
	border-radius: 4px 4px 0 0;
	
	padding: 10px;
	margin: 10px 0;
	
	width: 90%;
	display: block;
}

#new-doc-form #description-fields .save-new-doc{
	position: fixed;
	bottom: 0;
	left: 0;
	
	width: 90%;
	
	margin: 0 30px;
	padding: 10px;
	
	border: none;
	background-color: var(--secondary-color);
	
	font-weight: 800;
}

#new-doc-form 

/* Desktop version */

@media(min-width: 760px){
	
	#new-doc-form{
		flex-direction: row;
	}
}
